@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

:root {
  --fw-700: 700;
  --transition-1: 0.25s ease;
}

html {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgba(139, 0, 0, 0.635);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  color: white;
  margin: 16px;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #e4e4e4;
  gap: 6px;
  padding: 6px;
  border-radius: 12px;
  direction: ltr;
}

.board div {
  width: 100%;
  height: 90px;
  background-color: #3bbed5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: inset 0px 0px 8px black;
}

@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }

  .board div {
    height: 70px;
  }
}

.board div span {
  display: none;
  pointer-events: none;
}
.board div:not(.hidden) span {
  display: none;
}

.board div.showing span {
  display: block;
}

.board div.showing {
  background-color: orangered;
  transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

.board div.hidden {
  opacity: 0;
  visibility: hidden;
}

.active {
  background-color: #5919c7 !important;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.4);
  }
}

.winner {
  font-size: 80px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoom-in 2s;
}

.centerTimerattemps {
  display: flex;
  justify-content: center;
  gap: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

p .margin {
  margin: 0 12px;
}

img {
  width: 100px;
}

.boardBGC {
  background-color: rgba(139, 0, 0, 0);
}

#player-list-container {
  display: flex;
  justify-content: center;
  color: white;
}

#player-list {
  margin: 0 12px;
  text-align: center;
  color: white;
}

.current-player {
  color: white;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  background-color: maroon;
  color: #fff;
  border: 0;
  padding: 6px 10px;
}

#popupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}

#popup {
  font-family: arial;
  text-align: center;
  width: 300px;
  padding: 20px;
  margin: 10% auto;
  background-color: #fff;
  position: relative;
}

#popup a {
  background-color: maroon;
  color: #000;
  text-decoration: none;
  padding: 6px 15px;
}

#close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

.center-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.project-card-2 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border-radius: 100px;
  overflow: hidden;
  width: 55vw;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  animation: collisionEffect 1.3s forwards;
}

@keyframes collisionEffect {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(30vh);
  }
  100% {
    transform: translateY(0);
  }
}

.project-card-2:hover {
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  transition: 1s;
}

@media (max-width: 768px) {
  .project-card-2 {
    width: 80vw;
    animation-duration: 1s;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .project-card-2 {
    width: 90vw;
    padding: 30px;
  }
}

.card-text {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  text-align: center;
  font-size: 40px;
}

.btn-text {
  gap: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: var(--fw-700);
  transition: var(--transition-1);
  font-size: 20px;
}

span:hover {
  color: #000;
  transition: 1s;
  font-size: 21px;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

.w-100 {
  width: 50%;
  margin: 0 auto;
}

.centerButtons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.popup {
  background-color: darkblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.popup button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overLay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.942);
  backdrop-filter: blur(10px);
  z-index: 999;
  display: none;
}

.matchingpairs {
  font-size: 30px;
}

.match {
  font-size: 30px;
}
